#include <stdio.h>

int main() //print Fibonacci series
{
    int next = 0;
    int y = 0;
    int z = 1;

    while(next < 200)
    {
        printf("%d\n" , next);
        y = z;
        z = next;
        next = z + y;
    }
    
    return 0;
}

